:root {
  --gray-one: #333333;
  --gray-two: #4f4f4f;
  --gray-three: #828282;
  --gray-four: #f2f2f2;
  --gray-five: #e0e0e0;
  --orange-bg: #f2994a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/*================
  Section Products
==================*/
.title {
  margin: 2.4rem 0 1.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--gray-one);
}

.products {
  max-width: 38.4rem;
  margin: 0 auto;
  padding: 3.2rem 0;
  border-radius: 1.2rem;
  background-color: var(--gray-four);
}
.products__item {
  display: flex;
  justify-content: space-between;
  max-width: 29.6rem;
  margin: 0 auto 3.2rem;
}
.products__image {
  width: 12.4rem;
  border-radius: 1.2rem;
}
.products__description {
  position: relative;
  width: 13.6rem;
}
.products__title {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  color: var(--gray-two);
}
.products__discount,
.products__price {
  display: inline-block;
}
.products__discount {
  margin-right: 3.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--orange-bg);
}
.products__price {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: line-through;
  color: var(--gray-two);
}
.products__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  position: absolute;
  bottom: 0;
  width: 12.4rem;
  height: 5rem;
  border: 0.1rem solid var(--gray-three);
  border-radius: 1.2rem;
}
.products__amount div {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  background-color: var(--gray-five);
}
.products__shipping,
.products__total {
  display: flex;
  justify-content: space-between;
  max-width: 29.6rem;
  margin: 0 auto 1.6rem;
  padding: 1.6rem 0 0;
  font-size: 1.4rem;
  font-weight: 600;
  border-top: 1px solid #bdbdbd;
  color: var(--gray-one);
}
.products__shipping {
  margin-top: 3.2rem;
}
.products__total {
  margin-bottom: 0;
}

/*===============
  Section Contact
=================*/
.contact {
  max-width: 46.5rem;
  margin: 4rem auto;
}
.contact__title {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray-one);
}
.contact__title-modifier {
  margin-top: 4rem;
}
.form__label,
.form__input {
  display: block;
}
.form__label {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray-two);
}
.form__input {
  width: 100%;
  height: 4rem;
  margin-bottom: 1.6rem;
  border-radius: 1.2rem;
  outline: none;
  border: 1px solid var(--gray-three);
}
.form__container-divide {
  display: flex;
  justify-content: space-between;
}
.form__content {
  max-width: 21.6rem;
}
.form__content--left {
  padding-right: 0.8rem;
}
.form__content--right {
  padding-left: 0.8rem;
}
.label__check {
  display: inline-block;
  margin-left: 0.8rem;
}
.form__submit {
  display: block;
  width: 16.6rem;
  height: 5.6rem;
  margin: 0 0 0 auto;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 1.2rem;
  color: white;
  background-color: var(--orange-bg);
  cursor: pointer;
  outline: none;
}

/*============================
  Section Contact Placeholders
==============================*/

.form__email::placeholder {
  background: url(../assets/icons/email.svg);
}
.form__phone::placeholder {
  background: url(../assets/icons/phone.svg);
}
.form__name::placeholder {
  background: url(../assets/icons/account-circle.svg);
}
.form__address::placeholder {
  background: url(../assets/icons/home.svg);
}
.form__city::placeholder,
.form__country::placeholder {
  background: url(../assets/icons/city.svg);
}
.form__postal::placeholder {
  background: url(../assets/icons/mailbox-open-up.svg);
}
.form__input {
  padding-left: 0.8rem;
}
.form__input::placeholder {
  padding: 0.4rem 2.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray-three);
  background-size: 2rem;
  background-repeat: no-repeat;
}

/*========================
  Animation and transition
==========================*/
.form__input:focus {
  border: 0.1rem solid var(--orange-bg);
  transition: all 300ms;
}
.form__submit:hover {
  border: 1px solid var(--orange-bg);
  color: var(--orange-bg);
  background-color: white;
  transition: all 300ms;
}
